@import 'vars';
@import 'mixin';
@import 'function';

header{
  position:relative;
}
section#contents{
  text-align:center;      
  h2{
    border:none;
    margin-bottom:0;
  }
}
footer{
  position: absolute;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    position:relative;
  }
  bottom: 0;
}