//media_query
$breakpoint-tablet: 768;
$breakpoint-mobile: 480;
$breakpoint-pc-px: $breakpoint-tablet + 1 + px;
$breakpoint-tablet-px: $breakpoint-tablet + px;
$breakpoint-mobile-px: $breakpoint-mobile + px;

@mixin dot_list{
  content:'\30FB';
  margin:0 0.6rem 0 0;
}
@mixin iehack($ie-ver: null) {
  @if $ie-ver == 'gteIE10' { // IE10以上
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
    }
  }
  @else if $ie-ver == 'gteIE11' { // IE11以上
    @at-root _:-ms-fullscreen,:root & {
      @content;
    }
  }
}