@import 'vars';
@import 'mixin';
@import 'function';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
  .link .about{
    border-bottom:3px solid $key_color;  
  }
}
/*
* top part
*/
#signature{
  height:62px;
  width:100%;
  span.title{
    @media screen and (max-width: $breakpoint-tablet-px)  {
      left:auto;
      right:0;
      position:static;
    }
    color:#fff;
    font-size:1.2rem;
  }
  div.sign_body{
    display:flex;
    position:relative;
    justify-content:flex-end;
    .ami,
    .yo{
      content:'';
      background-size:contain;
      background-repeat:no-repeat;
      position:relative;
      display:inline-block;
    }
    .ami{
      background-image:url('../img/about/sign.ami.sakachi.svg');
      width:180px;
      height:48px;
      margin:0 16px 0 0;
    }
    .yo{
      background-image:url('../img/about/sign.yo.takahira.svg');
      width:170px;
      height:56px;
    }    
  }
}
/*
* contents
*/
#contents{
  h2{
    margin-top:0;
  }
  h3{
    margin:3.2rem 0 1.6rem;
    font-size:1.8rem;
    &:nth-of-type(1){
      margin-top:0;
    }
  }

  section#about{
    width:$base_width;
    margin:auto;
    padding:$base_padding;
    @media screen and (max-width: $breakpoint-tablet-px)  {

      width:100%;
      padding:32px 4vw;
      h3{
        margin:0;
        &:nth-of-type(2):before,
        &:nth-of-type(3):before,
        &:nth-of-type(4):before,
        &:nth-of-type(5):before,
        &:nth-of-type(6):before{
          content:'';
          background-size:cover;
          background-position:center;
          background-repeat:no-repeat;
          display:block;
          width:100%;
          height:56.9vw;
          margin:2em 0;
        }
        &:nth-of-type(2):before{
          @media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 1.1dppx){
            background-image:url('../img/about/sp_about_1.1.jpg');
          }
          @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx){
            background-image:url('../img/about/sp_about_1.2.jpg');
          }
        }
        &:nth-of-type(3):before{
          @media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 1.1dppx){
            background-image:url('../img/about/sp_about_2.1.jpg');
          }
          @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx){
            background-image:url('../img/about/sp_about_2.2.jpg');
          }
        }
        &:nth-of-type(4):before{
          @media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 1.1dppx){
            background-image:url('../img/about/sp_about_3.1.jpg');
          }
          @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx){
            background-image:url('../img/about/sp_about_3.2.jpg');
          }
        }
        &:nth-of-type(5):before{
          @media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 1.1dppx){
            background-image:url('../img/about/sp_about_4.1.jpg');
          }
          @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx){
            background-image:url('../img/about/sp_about_4.2.jpg');
          }
        }
        &:nth-of-type(6):before{
          @media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 1.1dppx){
            background-image:url('../img/about/sp_about_5.1.jpg');
          }
          @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx){
            background-image:url('../img/about/sp_about_5.2.jpg');
          }
        }

      }
    }
    a{
      color:$key_color;
      &.link-teacher-page{
        color:$black;
        width:100%;
        border:1px solid $black;
        background-image:url(../../assets/img/common/icon-arrow.svg);
        @media screen and (min-width: $breakpoint-pc-px)  {
          font-size:1.6rem;
          background-repeat: no-repeat;
          background-size: 16px;
          background-position: right 24px top 50% ;
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          font-size:1.4rem;
          background-repeat: no-repeat;
          background-size: 1.6rem;
          background-position: right 2.4rem top 50% ;
        }
      }
    }
    > div{
      display:flex;
      > div:first-child{
        width:544px;
        margin:0 32px 0 0;
        padding:0 32px;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:auto;
          margin:auto;
          padding:0;
        }
        p{
          font-size:1.4rem;
        }
      }
      > div:last-child img{
        width:576px;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          display:none;
        }
      }
    }
  }
  section#access{
    width:$base_width;
    margin:auto;
    padding:$base_padding;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
      padding:32px 4vw ;
    }
    .gmap{
      min-height:450px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:100%;
        height:320px;
        margin:0 0 1em;
      }
    }
    p,
    h3{
      margin:0;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        margin:0 0 1em;
        span{
          display:block;
        }
      }
    }
    > div{
      display:flex;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        flex-direction:column-reverse;
      }
      > div:first-child{
        width:544px;
        margin:0 32px 0 0;
        padding:0 32px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
          margin:auto;
          padding:0;
        }
        p{
          font-size:1.4rem;
        }
        ul{
          margin-top:1em;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            
          }
          li{
            font-size:1.4rem;
          }
          li:nth-of-type(1){
            margin-top:0;
          }  
        }
        .btns a{
          display:inline-block;
          width:100%;
          height:64px;
          background-color:$orange;
          border:0 solid $orange;
          position:relative;
          color:#fff;
          font-size:2rem;
          line-height:64px;
          text-align:center;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            margin:16px 0 0;
          }
          &:after{
            content:'';
            background-size:contain;
            background-repeat:no-repeat;
            background-image:url('../img/about/walker.svg');
            display:inline-block;
            position:absolute;
            bottom:16px;
            width:53px;
            height:74px;
          }  
        }
      }
    }
  }
  section#facility{
    width:$base_width;
    margin:auto;
    padding:$base_padding;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
      padding:32px 4vw;
    }
    > div{
      padding:0 32px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        padding:0;
      }
      ul{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        li{
          list-style:none;
          width:25%;
          font-size:1.4rem;
          margin:1em 0;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            width:50%;
            text-indent:-1em;
            margin:1em 0 1em 1em;
            @media screen and (max-width: $breakpoint-mobile-px)  {
              width:100%;
            }
            &:before{
              @include dot_list();
            }
          }
        }
      }
    }
  }
}
