@import 'vars';
@import 'mixin';
@import 'function';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
}

/*
* contents
*/
#contents{
  .title{
    border-top:1px solid $gray;
    border-bottom:1px solid $gray;
    text-align:center;
    position:relative;
    margin: 24px auto 32px;
    padding:8px 0;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      font-size:1.8rem;
      background-color:rgba(255,255,255,0.45);
      padding:8px 2vw;
      margin:0 0 16px;
    }
    span{
      display:flex;
      align-items:center;
      justify-content:center;
      flex-wrap: nowrap;
      font-size:2rem;
      display:inline-block;
      vertical-align:middle;
      @include iehack(gteIE10) { /* IE10以上 */
        height:1em;
      }
      &:before,
      &:after{
        content:'';
        background-image:url('../img/common/h2_ornament.svg');
        background-size:contain;
        background-repeat:no-repeat;
        width:32px;
        height:14px;
        display:inline-block;
        flex:0 0 32px;
      }
      &:before{
        margin:0 16px 0 0;
      }
      &:after{
        transform:scale(-1, 1);
        margin:0 0 0 16px;
      }
    }
  }
  h2{
    font-size:2rem;
    margin-top:2em;
    &:nth-of-type(1){
      margin-top:0;
    }
  }
  h3{
    margin:3.2rem 0 1.6rem;
    font-size:1.8rem;
    &:nth-of-type(1){
      margin-top:0;
    }
  }
  .sec-access{
    width:$base_width;
    margin:auto;
    padding:$base_padding;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
      padding:32px 4vw ;
    }
    .gmap{
      min-height:450px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:100%;
        height:320px;
        margin:0 0 1em;
      }
    }
    h2{
      margin:0;
      @media screen and (min-width: $breakpoint-pc-px)  {
        font-size:2.5rem;
      }
      @media screen and (max-width: $breakpoint-tablet-px)  {
        font-size:2rem;
        margin:0 0 1em;
      }
      span{
        @media screen and (min-width: $breakpoint-pc-px)  {
          display:block;
          font-size:2rem;
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          display:block;
        }
      }
    }
    p{
      @media screen and (min-width: $breakpoint-pc-px)  {
      }
      @media screen and (max-width: $breakpoint-tablet-px)  {
        margin:0 0 1em;
      }      
    }
    > div{
      display:flex;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        flex-direction:column-reverse;
      }
      > div:first-child{
        width:544px;
        margin:0 32px 0 0;
        padding:0 32px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
          margin:auto;
          padding:0;
        }
        p{
          font-size:1.4rem;
        }
        ul{
          margin-top:1em;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            
          }
          li{
            font-size:1.4rem;
          }
          li:nth-of-type(1){
            margin-top:0;
          }  
        }
        .btns a{
          display:inline-block;
          width:100%;
          height:64px;
          background-color:$orange;
          border:0 solid $orange;
          position:relative;
          color:#fff;
          font-size:2rem;
          line-height:64px;
          text-align:center;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            margin:16px 0 0;
          }
          &:after{
            content:'';
            background-size:contain;
            background-repeat:no-repeat;
            background-image:url('../img/about/walker.svg');
            display:inline-block;
            position:absolute;
            bottom:16px;
            width:53px;
            height:74px;
          }  
        }
      }
    }
  }
  
  .sec-route{
    @media screen and (min-width: $breakpoint-pc-px)  {
      width:$base_width;
      margin:auto;
      padding:$base_padding;
    }
    @media screen and (max-width: $breakpoint-tablet-px)  {
      padding:32px 4vw ;
    }
    &__wrap{
      @media screen and (min-width: $breakpoint-pc-px)  {
        display:flex;
        flex-direction:row-reverse;
      }
      @media screen and (max-width: $breakpoint-tablet-px)  {
      }
    }
    &__image{
      @media screen and (min-width: $breakpoint-pc-px)  {
        flex:0 0 564px;
      }
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:vw(658);
        margin:1em auto;
        display:block;
      }
      img{
        width:100%;
        @media screen and (min-width: $breakpoint-pc-px)  {
          filter:drop-shadow(0 0 0.75rem #999)
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          filter:drop-shadow(0 0 0.25rem #999)
        }
      }
    }
    &__links{
      font-size:2rem;
      margin:auto;
      @media screen and (min-width: $breakpoint-pc-px)  {
        flex:1 1 auto;
        margin-right:48px;
      }
      @media screen and (max-width: $breakpoint-tablet-px)  {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width:100%;
        padding:0 4vw;     
      }
      .item{
        background-color: $pink;
        display:flex;
        position:relative;
        justify-content: center;
        align-items: center;      
        border:1px solid $black;
        padding:1em;
        @media screen and (min-width: $breakpoint-pc-px)  {
          border-radius: 10px;
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          border-radius: vw(10);
          flex:0 0 48%;
          text-align: center;
          border:vw(1) solid $black;
          height:5em;
          font-size:1.5rem;
        }    
        &+.item{
          @media screen and (min-width: $breakpoint-pc-px)  {
            margin-top:0.75em;
          }
        }
        &:nth-of-type(n+3){
        @media screen and (max-width: $breakpoint-tablet-px)  {
            margin-top:0.75em;
          }      
        }
        &::before,
        &::after{
          content:'';
          display:block;
          position:absolute;
          // background-image:url('../img/access/frame.svg');
          background-repeat: no-repeat;
          background-size: contain;
          @media screen and (min-width: $breakpoint-pc-px)  {
            width:27px;
            height:100%;
          }
          @media screen and (max-width: $breakpoint-tablet-px)  {
          }
        }
        &::before{
          top:0;
          left:0;
        }
        &::after{
          bottom:0;
          right:0;
          transform: rotate(180deg);
        }
      }
    }
  
  }

}



