@import 'vars';
@import 'mixin';
@import 'function';

@media screen and (min-width: $breakpoint-pc-px) {
}
@media screen and (max-width: $breakpoint-tablet-px) {
}

#contents{
  @media screen and (min-width: $breakpoint-pc-px) {
    padding:0 100px;
  }
  @media screen and (max-width: $breakpoint-tablet-px) {
  }  
  .by-train,
  .by-bus,
  .by-car{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    &::before{
      content:'';
      display:inline-block;
      background-size:contain;
      background-repeat: no-repeat;
      margin-right:0.25em;
      @media screen and (min-width: $breakpoint-pc-px) {
        width:32px;
        height:32px;
      }
      @media screen and (max-width: $breakpoint-tablet-px) {
        width:vw(72);
        height:vw(72);
      }
    }
    &.by-train{
      &::before{
        background-image:url('../img/access/icon-train.svg');
      }  
    }
    &.by-car{
      &::before{
        background-image:url('../img/access/icon-car.svg');
      }  
    }
    &.by-bus{
      &::before{
        background-image:url('../img/access/icon-bus.svg');
      }
    }
  }
  
  
  .nav-wrap{
    @media screen and (min-width: $breakpoint-pc-px) {
      display:flex;
      flex-direction: row-reverse;
      margin-bottom:2em;
      align-items: center;
    }
    @media screen and (max-width: $breakpoint-tablet-px) {
    }
    .image{
      @media screen and (min-width: $breakpoint-pc-px) {
        flex:0 0 500px;
        margin-left:3em;
      }
      @media screen and (max-width: $breakpoint-tablet-px) {
        display:block;
        margin-bottom:3em;
      } 
      img{
        width:100%;
      }
    }
  }
  
  #edogawa,
  #sumida,
  #chuuou,
  #chiyoda,
  #minato{
    @media screen and (min-width: $breakpoint-pc-px) {
      width:calc(#{$base_width} - 200px);
      margin:auto;
      padding:$base_padding;
    }
    @media screen and (max-width: $breakpoint-tablet-px) {
      width:100%;
      padding:32px 4vw;
    }
    .sec-links{
      display: block;
      padding:1em 2em 2em;
      border:1px solid #ccc;
      border-radius: 5px;
      // background-color:#ffffee;
      @media screen and (min-width: $breakpoint-pc-px) {
      }
      @media screen and (max-width: $breakpoint-tablet-px) {
        padding:2em 1em 3em 1.5em;
        margin-bottom:3em;
      }
      .by-train,
      .by-car,
      .by-bus{
        justify-content: flex-start;
        @media screen and (min-width: $breakpoint-pc-px) {
          font-size:2.2rem;
        }
        @media screen and (max-width: $breakpoint-tablet-px) {
          font-size:vw(52);
        }
        &::before{
          @media screen and (min-width: $breakpoint-pc-px) {
          }
          @media screen and (max-width: $breakpoint-tablet-px) {
          }
        }
        &.by-train{
        }
        &.by-bus{
        }
        &.by-car{
        }
      }  
      .link-list{
        display:flex;
        flex-wrap: wrap;
        list-style: none;
        padding:1em 0 2em;
        .item{
          margin:auto 0.5em 0.5em 0;
          padding:0.5em;
          @media screen and (min-width: $breakpoint-pc-px) {
            font-size:1.5rem;
            border:1px solid #999;
            border-radius: 5px;
          }
          @media screen and (max-width: $breakpoint-tablet-px) {
            font-size:1.7rem;
            border:vw(1) solid #999;
            border-radius: vw(5);
          }
          &::before{
            content: '▼';
            display:inline-block;
          }
        }
      }  
    }
    .title{
      @media screen and (min-width: $breakpoint-pc-px) {
      }
      @media screen and (max-width: $breakpoint-tablet-px) {
      }
      &.by-train,
      &.by-bus,
      &.by-car{
        @media screen and (min-width: $breakpoint-pc-px) {
        }
        @media screen and (max-width: $breakpoint-tablet-px) {
          font-size:vw(40);
        }  
      }
    }
    .data-wrap{
      @media screen and (min-width: $breakpoint-pc-px) {
        margin-top:4em;
      }
      @media screen and (max-width: $breakpoint-tablet-px) {
        margin:4em 0;
      }
      .sub-title{
        @media screen and (min-width: $breakpoint-pc-px) {
        }
        @media screen and (max-width: $breakpoint-tablet-px) {
        }  
        &::before{
          content:'●';
          display:inline;
        }
      }
      .summary{
        margin-left:2rem;
        font-weight:500;
        @media screen and (min-width: $breakpoint-pc-px) {
        }
        @media screen and (max-width: $breakpoint-tablet-px) {
          margin-left:0.5rem;
          padding:0.5em;
          border:vw(1) solid #ccc;
        }
      }
      .data{
        display:flex;
        margin-left:2rem;
        @media screen and (min-width: $breakpoint-pc-px) {
        }
        @media screen and (max-width: $breakpoint-tablet-px) {
          margin-left:0.5rem;
        }
        p{
          span{
            display:inline-flex;
            justify-content: center;
            align-items: center;
            height:1.4em;
            padding:0.4em;
            margin-right:0.2em;
            background-color: #e7e7e7;
            color:#333;
            font-weight:700;
            @media screen and (min-width: $breakpoint-pc-px) {
            }
            @media screen and (max-width: $breakpoint-tablet-px) {
            }
          }
        }
        p + p{
          margin-left:0.7em;
        }
      }
      .route{
        margin-left:2.2rem;
        padding:0.5em 1em;
        border-left:0.4em solid rgba($key_color,0.5);
        @media screen and (min-width: $breakpoint-pc-px) {
        }
        @media screen and (max-width: $breakpoint-tablet-px) {
          margin-left:0.5rem;
        }
        p{
          margin:auto;
        }
        p+p{
          margin:1em auto 0;
        }
      }
      .sec-route__links{
        margin:auto;
        display:flex;
        flex-wrap:wrap;
        @media screen and (min-width: $breakpoint-pc-px) {
          justify-content: space-around;

        }
        @media screen and (max-width: $breakpoint-tablet-px) {
          justify-content: space-between;
        }
        .item{
          flex:0 0 48%;
          @media screen and (min-width: $breakpoint-pc-px) {
          }
          @media screen and (max-width: $breakpoint-tablet-px) {
          }
          & + .item{
            @media screen and (min-width: $breakpoint-pc-px) {
              margin-top:0;
            }
            @media screen and (max-width: $breakpoint-tablet-px) {
            }  
          }            
          &:nth-of-type(n+3){
            @media screen and (min-width: $breakpoint-pc-px) {
              margin-top:1em;
            }
            @media screen and (max-width: $breakpoint-tablet-px) {
            }  
          }
        }
      }  
    }

  }
  


  .hanzomon{
    font-weight:bold;
    color:#8f76d6;
  }
  .ooedo{
    font-weight:bold;
    color:#ce045b;
  }
  
  .hibiya{
    font-weight:bold;
    color:#999;
  }
  .ginza{
    font-weight:bold;
    color:#ff9500;
  }
  .tozai{
    font-weight:bold;
    color:#009bbf;
  }
  .asakusa{
    font-weight:bold;
    color:#ec6e65;
  }
  .yuurakuchou{
    font-weight:bold;
    color:#b29767;
  }
  .marunouchi{
    font-weight:bold;
    color:#f62e36;
  }
  .chiyoda-line{
    font-weight:bold;
    color:#00bb85;
  }
  .toei-shinjyuku{
    font-weight:bold;
    color:#b0bf1e;
  }
  .toei-mita{
    font-weight:bold;
    color:#006ab8;
  }
  .jr-yokosuka{
    font-weight:bold;
    color:#1069b4;
  }
  .toei-bus{
    font-weight:bold;
    color:#199332;
  }
}
