@import 'vars';
@import 'mixin';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
  .link .classes{
    border-bottom:3px solid $key_color;  
  }
}
/*
* top part
*/
#top_part .btns{
  display:flex;
  justify-content:space-between;
  a{
    flex-grow:1;
    display:inline-block;
    height:48px;
    border:0px solid #fff;
    position:relative;
    color:$black;
    font-size:1.6rem;
    line-height:48px;
    text-align:center;
    background-color:#fafafa;
  }
}
/*
* contents
*/
#contents{
  h2{
    margin-top:0;
    @media screen and (max-width: $breakpoint-mobile-px)  {
      background:#fff;
    }
  }
  h3{
    margin:3.2rem 0 1.6rem;
    font-size:18px;
    &:nth-of-type(1){
      margin-top:0;
    }
  }
  > section{
    width:$base_width;
    margin:auto;
    padding:32px 64px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
      padding:32px 4vw;
      background-image:url('../img/classes/bg.svg');
      background-position:-8vw 0px;
    }
    h2 ~ p{
      font-size:1.6rem;
    }
    table{
      width:100%;
      margin:auto;
      text-align:center;
      font-size:1.4rem;
      border-collapse:collapse;
      @media screen and (max-width: $breakpoint-mobile-px)  {
        thead{
//          display:none;
        }
      }
      tr{
        @media screen and (max-width: $breakpoint-mobile-px)  {
          display:list-item;
          list-style:none;
          margin:32px 4vw;
          border:1px solid #ddd;
          background:#fff;
          box-shadow:0 0px 16px 2px $gray;
          &:last-child{
            margin:0 4vw;
          }
        }        
      }
      th{
        border:1px solid #ddd;
        vertical-align:middle;
        padding:1em 0.5em;
      }
      td{
        border:1px solid #ddd;
        vertical-align:middle;
        padding:1em 0.5em;
        &.cell_for_sp{
          display:none;
          @media screen and (max-width: $breakpoint-mobile-px)  {
            display:block;
          }
        }
        @media screen and (max-width: $breakpoint-mobile-px)  {
          padding:8px 32px;
          border:none;
          display:block;
          text-align:left;
          &:before{
            display:block;
            text-indent:-16px;
            font-weight:bold;
            margin:4px 0;
          }
          &:first-child{
            padding:4px 0;
            border-bottom:1px solid #ddd;
            background:$black;
            color:#fff;
            position:relative;
            span{
              padding:12px 0;
              color:#fff;
              vertical-align:middle;
              border-top: dashed 1px #FFF;
              border-bottom: dashed 1px #FFF;
              width:100%;
              height:100%;
              display:block;
            }
            &:before,
            &:after{
              content:'';
              position:absolute;
            }
            &:before{
              top:4vw;
              left:-4vw;
              bottom:0;
              border-width:30px 0px 30px 4vw;
              border-color:$black $black $black transparent;
              border-style:solid;      
              margin:0;
            }
            &:after{
              top:4vw;
              right:-4vw;
              bottom:0;
              border-width:30px 4vw 30px 0px;
              border-color:$black transparent $black $black;
              border-style:solid;
            }             
          }
          &:last-child{
            padding:8px 32px 16px;
          }
          &:nth-of-type(1){
            font-size:1.8rem;
            text-align:center;
          }
          &:nth-of-type(2){
            &:before{
              content:'レベル';
            }
          }
          &:nth-of-type(3){
            &:before{
              content:'対象者';
            }
          }
          &:nth-of-type(4),
          &:nth-of-type(6){
            &:before{
              content:'1クラスの時間';
            }
          }
          &:nth-of-type(5),
          &:nth-of-type(7){
            &:before{
              content:'月謝';
            }            
          }
          &.cell_for_pc{
            display:none;
          }
        }
      }
      @media screen and (max-width: $breakpoint-mobile-px)  {
        thead{
          display:none;
        }
      }
      ~ p{
        width:$breakpoint-tablet-px;
        font-size:1.2rem;
        color:$red;
        text-indent:-1rem;
        margin-bottom:0;
        padding:0 0 0 1em;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
        }
        @media screen and (max-width: $breakpoint-mobile-px)  {
          color:$black;
          font-weight:bold;
        }
      }  
    }
    &:nth-of-type(1){
      @media screen and (max-width: $breakpoint-mobile-px)  {
        background-color:#ffeeff;
      }
      table th{
        background-color:#ffeeff;
      }
      > section{
        display:flex;
        justify-content:space-between;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          display:block;
          @media screen and (max-width: $breakpoint-mobile-px)  {
            td{
              &:nth-of-type(1){
                & span:after{
                  content:'クラス';
                }
              }
            }
          }
        }
        img{
          width:320px;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            display:none;
          }
        }
      }      
    } 
    &:nth-of-type(2){

      @media screen and (max-width: $breakpoint-mobile-px)  {
        background-color:#fffddd;
      }
      table{
        th{
          background-color:#fffddd;
          &:nth-of-type(2){
//            display:none;
          }
        }
        td{
          &:nth-of-type(2){
//            display:none;
          }          
        }
      }
      section{
        width:$breakpoint-tablet-px;
        margin:auto;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
        }
      }
    }

    &:nth-of-type(3){
      @media screen and (max-width: $breakpoint-mobile-px)  {
        background-color:#ddeeff;
      }
      table th{
        background-color:#ddeeff;
      }
      section{
        width:$breakpoint-tablet-px;
        margin:auto;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
        }
      }
    }
    &:nth-of-type(4){
      @media screen and (max-width: $breakpoint-mobile-px)  {
        background-color:#eeffee;
      }
      table th{
        background-color:#eeffee;
      }
    }
    &:nth-of-type(5){
      @media screen and (max-width: $breakpoint-mobile-px)  {
        background-color:#ffeedd;
      }
    }
  }
}