@import 'vars';
@import 'mixin';
@import 'function';
/* common parts */
html{
  overflow:auto;
}
.only-sp{
  @media screen and (min-width: $breakpoint-pc-px) {
    display:none;
  }
  @media screen and (max-width: $breakpoint-tablet-px) {
  }
}
.only-pc{
  @media screen and (min-width: $breakpoint-pc-px) {
  }
  @media screen and (max-width: $breakpoint-tablet-px) {
    display:none;
  }  
}
body.fixed{
  position:relative;
  overflow:hidden;
}
.mainlogo a{
  display:block;
/*
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:174/$breakpoint-tablet*100vw;
    height:112/$breakpoint-tablet*100vw;
  }
  background-image:url('../img/common/mes-amis-logo-bk.svg');
  background-size:contain;
  background-repeat:no-repeat;
*/
  img{
    position:relative;
    display:block;
    width:174px;
    height:112px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:150/$breakpoint-tablet*100vw;
      height:150*112/174/$breakpoint-tablet*100vw;
    }
  }
}
/* wrapper */
.wrapper{
  display:flex;
  justify-content:space-between;
  width:$base_width;
  @media screen and (min-width: $breakpoint-pc-px)  {
    height:100%;
  }
  @media screen and (max-width: $breakpoint-tablet-px)  {
    display:block;
    width:$base_width_narrow;
  }
  margin:auto;
  padding:0 64px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    padding:0;
    height:auto;
  }
  position:relative;
}
/* btns */
.btns{
  display:flex;
  a{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.8rem;
    div{
      position:relative;
      display:inline-block;
      @include iehack(gteIE10) { /* IE10以上 */
        height:1em;
      }
    }
    @media screen and (max-width: $breakpoint-tablet-px)  {
      font-size:vw(18);
    }
    margin:0 1.6rem 0 0;
    border-radius:3px;
    height:48px;
    &:last-child{
      margin:0;
    }
  }
}
.contact{
  vertical-align:middle;
  color:#fff;
  background:$key_color;
  border:1px solid $key_color;
  span{
    color:#fff;
  }
}
.access,
.schedule{
  vertical-align:middle;
  border:1px solid $black;
  background:rgba(255,255,255,0.5)
}
.access:before,
.contact:before,
.schedule:before{
  content:'';
  width:1.8rem;
  height:1.8rem;
  position:relative;
  display:inline-block;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  margin:0 0.8rem 0 0;
}
.access:before{
  width:2.4rem;
  height:2.4rem;
  background-image:url('../img/common/icon_access.svg');
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:1.8em;
    height:1.8em;
  }
}
.contact:before{
  background-image:url('../img/common/icon_mail.svg');
}
.schedule:before{
  background-image:url('../img/common/icon_calendar.svg');
}
.insta, .fb{
  content:'';
  width:3.2rem;
  height:3.2rem;
  background-size:2.4rem;
  background-position:center;
  background-repeat:no-repeat;
}
.insta{
  background-image:url('../img/common/icon_instagram.svg');
}
.fb{
  background-image:url('../img/common/icon_facebook.svg');
}
/* new icon */
li.new{
  .release_date{
    color:$red;
  }
  &:before{
    content:'';
    background-image:url('../img/common/icon_new.svg');
    background-size:contain;
    background-repeat:no-repeat;
    display:block;
    position:absolute;
    width:40px;
    height:22px;
    top:4px;
    left:-8px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:vw(120);
      height:vw(66);
      top:vw(12);
      left:vw(-24);
    }
    z-index:10;
  }
}
/* nav */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
/* header */
header{
  width:100%;
  min-width:$base_width;
  position:absolute;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    position:relative;
  }
  left:0;
  right:0;
  z-index:10;
  background:rgba(255,255,255,0.6);
  box-shadow:0 -6px 16px 0px rgba(0,0,0,1);
  @media screen and (max-width: $breakpoint-tablet-px)  {
    min-width:100%;
  }
  > div{
    width:$base_width;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:$base_width_narrow;
    }
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    padding:16px 64px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      padding:16px 4vw;
    }
  }
  a{
    text-decoration:none;
    position:relative;
    span.en,
    span.jp{
      display:inline-block;
      white-space:nowrap;
    }
    span.jp{
      position:absolute;
      left:50%;
    }
    &:hover span.en,
    span.jp{
      opacity:0;
    }
    &:hover span.jp{
      opacity:1;
    }
  }
  .menu{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      display:none;
    }
    .btns{
      justify-content:flex-end;
      a{
        width:180px;
        span.jp{
          margin:0 0 0 1.3rem;
        }
      }
    }
    .link{
      display:flex;
      align-items:center;
      height:3.2rem;
      > section:first-child{
        width:640px;
        display:flex;
        margin:0 48px 0 0;
        justify-content:space-between;
        height:100%;
      }
      a{
        padding:0.4rem;
        font-size:1.6rem;
        display:inline-block;
      }
    }
    .sns{
      display:flex;
      align-items:center;
      margin: 0 -0.4rem 0 0;
      a{
        margin:0 0.8rem 0 0;
      }
      a:last-child{
        margin:0;
      }
    }
  }
  section.sp_menu{
    display:none;
    @media screen and (max-width: $breakpoint-tablet-px)  {
    display:block;
      .btns{
        a{
          width:48px;
          &:before{
            content:'';
            width:100%;
            height:100%;
            background-repeat:no-repeat;
            background-size:contain;
            display:inline-block;
          }
        }
        .viewport_change{
          &:before{
            background-image:url('../img/common/btn_viewport_change_bk.svg');
          }
        }
        .sp_menu_btn{
          &:before{
            background-image:url('../img/common/btn_sp_menu_bk.svg');
          }
        }
      }
    }
  }
}
/* sp menu */
.sp_menu_body{
  display:none;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  padding:16px 4vw;
  background:rgba(0,0,0,0.9);
  z-index:15;
  &:before{
    content:'';
    position:absolute;
    background-image:url('../img/common/menu_bg.jpg');
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity:0.4;
  }
  nav{
    position:relative;
    max-width:400px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    div:first-child{
      position:absolute;
      .switch_viewport_pc{
        color:#fff;
        border:1px solid #fff;
        font-size:1.2rem;
        width:100%;
        height:40px;
        margin:16px 0 0;
        &:before{
          content:'';
          background-image:url('../img/common/btn_viewport_change_w.svg');
          width:24px;
          height:24px;
          background-repeat:no-repeat;
          background-size:contain;
          margin:0 8px 0 0;
        }
      }
    }
    .link{
      position:absolute;
      right:0;
      display:flex;
      flex-direction:column;
      justify-content:flex-end;
      text-align:right;
      section{
        display:flex;
        flex-direction:column;
      }
      a{
        margin:0 0 16px;
          span{
          color:#fff;
          font-size:2rem;
          line-height:1em;
        }
        span.en{
          display:block;
        }
        span.jp{
          display:block;
          font-size:1.1rem;
          line-height:1.6em;
        }
      }
      .sns{
        flex-direction:row;
        justify-content:flex-end;
        a{
          margin:0 0 0 16px;
        }
      }
    }
    section.sp_close{
      display:flex;
      flex-direction:row;
      justify-content:flex-end;
      margin:0 0 32px;
      span{
        width:48px;
        height:48px;
        background-image:url('../img/common/close.svg');
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center;
      }
    }
    .insta{
      background-image:url('../img/common/icon_instagram_w.svg');
    }
    .fb{
      background-image:url('../img/common/icon_facebook_w.svg');
    }
  }
  @media screen and (max-width: $breakpoint-tablet-px)  {
    a.sp_menu_btn{
      display:inline-block;
      &:before{
        content:'';
        background-image:url('../img/common/btn_sp_menu_w.svg');
        width:48px;
        height:48px;
        background-repeat:no-repeat;
        background-size:contain;
      }
    }
  }
}
/* list */
ul.dot{
  list-style:none;
  > li {
    text-indent:-2.8rem;
    margin:1em 0 1em 3.2rem;
  }
  > li:before {
    @include dot_list();
  }
}
.read_more{
  border:1px solid $gray;
  display:inline-block;
  text-align:center;
  padding:24px 0;
  font-size:1.4rem;
  line-height:1em;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    background:#fff;
    padding:16px 0;
  }
}
/* top_part */
#top_part{
  position:relative;
  width:100%;
  min-width:$base_width;
  height:480px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    min-width:100%;
    height:auto;
  }
  margin:auto;
  background:$black;
  display:flex;
  padding:32px 0;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    padding:0 0 32px;
  }
  .wrapper{
    justify-content:space-between;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      display:flex;
      flex-direction:column-reverse;
    }
    > section:first-child{
      background:$black;
      padding:0 32px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        padding:0 4vw;
        position:relative;
        z-index:5;
        &:before{
          content:'';
          position:absolute;
          height:130px;
          width:60vw;
          margin:0 0 0 -30vw;
          background:$black;
          top:-30px;
          left:50%;
          border-top-left-radius: 50vw 100%;
          border-top-right-radius: 50vw 100%;
          box-shadow:0 0px 16px 4px $black;
        }
      }
      .main-title{
        width:400px;
        max-width:400px;
        position:relative;
        margin: 24px auto 48px;
        border-top:1px solid #fff;
        border-bottom:1px solid #fff;
        text-align:center;
        height:4.8rem;
        display:flex;
        justify-content:center;
        align-items:center;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          font-size:2.2rem;
          width:auto;
        }
        &:before,
        &:after{
          content:'';
          display:block;
          position:absolute;
          background-image:url('../img/common/header_ornament.svg');
          width:352px;
          height:40px;
          left:50%;
          margin:0 0 0 -176px;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            width:100%;
            height:100%;
            margin:0 0 0 -50%;
          }
          background-size:contain;
          background-repeat:no-repeat;
        }
        &:before{
          top:-27px;
        }
        &:after{
          transform: scale(1, -1);
          bottom:-27px;
        }
  
        span{
          color:#fff;
          font-size:2.4rem;
          display:inline-block;
          @include iehack(gteIE10) {
            height:1em;
          }
        }

      }
      p{
        width:480px;
        color:#fff;
        margin:1.2em auto;
        font-size:1.6rem;
        line-height:1.8em;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:auto;
        }
      }
    }
    > section:last-child{
      position:relative;
      width:544px;
      overflow:hidden;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:auto;
      }
      &:after{
        content:'';
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 0 24px 16px $black;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          box-shadow: inset 0 -24px 16px -16px $black, inset 0 16px 16px -16px $black;
        }
      }
      img{
        width:100%;
      }
    }
  }
}
/* contents */
#contents{
  width:100%;
  min-width:$base_width;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    min-width:$base_width_narrow;
  }
  p{
    margin:1em 0;
    font-size:1.4rem;
    line-height:1.8em;
    font-feature-settings: "palt";
    letter-spacing: 0.075em;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      line-height:1.5em;
    }
  }
  .content-title{
    border-top:1px solid $gray;
    border-bottom:1px solid $gray;
    text-align:center;
    position:relative;
    margin: 24px auto 32px;
    padding:8px 0;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      font-size:1.8rem;
      background-color:rgba(255,255,255,0.45);
      padding:8px 2vw;
      margin:0 0 16px;
    }
    span{
      display:flex;
      align-items:center;
      justify-content:center;
      flex-wrap: nowrap;
      font-size:2rem;
      display:inline-block;
      vertical-align:middle;
      @include iehack(gteIE10) { /* IE10以上 */
        height:1em;
      }
      &:before,
      &:after{
        content:'';
        background-image:url('../img/common/h2_ornament.svg');
        background-size:contain;
        background-repeat:no-repeat;
        width:32px;
        height:14px;
        display:inline-block;
        flex:0 0 32px;
      }
      &:before{
        margin:0 16px 0 0;
      }
      &:after{
        transform:scale(-1, 1);
        margin:0 0 0 16px;
      }
    }
  }
  section.sp_menu{
    display:none;
    position:absolute;
    height:100vh;
    width:100vw;
  }
  > section:last-child{
    margin-bottom:64px !important;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      margin-bottom:0px !important;
    }
  }
}
/* sidebar */
#sidebar{
  width:288px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:100%;
  }
  > section{
    margin: 24px auto 32px;

  }
  h3{
    border-top:1px solid $gray;
    border-bottom:1px solid $gray;
    font-size:1.6rem;
    line-height:2em;
    margin:0 0 16px 0;
  }
  ul{
    li{
      list-style:none;
    }
    &#cate_list a{
      font-size:1.2rem;
      line-height:1.5em;
    }
    &.post_list{
      width:100%;
      li{
        width:100%;
        margin:0 0 8px;
        border:1px solid $gray;
        position:relative;
        a{
          display:flex;
          justify-content:space-between;
          div{
            display:block;
            padding:8px 16px;
          }
          img{
            display:block;
            width:80px;
            height:80px;
          }
          .title{
            font-size:1.3rem;
            margin:8px 0 0;
          }
        }
        &.release_date{
          text-align:right;
          border-bottom:1px solid $gray;
          font-size:1.2rem;
          margin:0;
          padding:0 0 4px;
          line-height:1em;
        }
      }
    }

  }
  .read_more{
    width:100%;
    padding:16px 0;
  }
}
/* footer */
footer{
  width:100%;
  min-width:$base_width;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    min-width:100%;
  }
  color:#fff;
  background-color:#fff;
  font-size:1.2rem;
  box-shadow:0 6px 16px 0px rgba(0,0,0,1);
  position:relative;
  h1{
    margin:0 0 32px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      margin:0 0 vw(40);
    }
  }
  .mainlogo a{
    height:128px;
    width:197px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
      height:auto;
    }
  }
  > div{
    width:$base_width;
    padding:32px 64px 48px;
    height:288px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
      padding:24px 5vw 32px;
      height:auto;
      flex-direction:column-reverse;
      align-items: flex-start;
    }
  }
  .footer_left{
    @media screen and (max-width: $breakpoint-tablet-px)  {
      margin:32px 0 0;
    }
    > div{
      display:flex;
      justify-content:space-between;
      font-size:1.2rem;
      align-items: flex-start;
      > div{
        height:100%;
        display:flex;
        justify-content:space-between;
        flex-direction:column;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:40%;
          height:auto;
        }
        img{
          width:100%;
          height:auto;
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          p{
            font-size:1.2rem;
            white-space:nowrap;
          }
        }
      }

      @media screen and (max-width: $breakpoint-tablet-px)  {
      > img{
          width:60%;
          height:auto;
        }
      }
    }
    .copyright{
      display:none;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        display:block;
        text-align:center;
        font-size:1.2rem;
        margin:16px 0 0;
      }
      letter-spacing:.07rem;
      span{
        font-family:serif;
      }
    }
  }
  .footer_right{
    width:384px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
    }
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align:right;
    .copyright{
      @media screen and (max-width: $breakpoint-tablet-px)  {
        display:none;
      }
      letter-spacing:.07rem;
      span{
        font-family:serif;
      }
    }
  }
  .contact{
    width:100%;
    height:48px;
    font-size:1.8rem;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      height:64px;
      font-size:vw(24);
    }
    @media screen and (max-width: $breakpoint-mobile-px)  {
      font-size:vw(32);
    }
    text-align:center;
    &:before{
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:vw(32);
        height:vw(32);
      }
      @media screen and (max-width: $breakpoint-mobile-px)  {
        width:vw(32);
        height:vw(32);
      }
    }
  }
  .link{
    width:100%;
    font-size:1.2rem;
    padding:16px 0 0;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      padding:0;
    }
    div{
      display:flex;
      justify-content:space-between;
      margin:auto 0 auto auto;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        margin:auto;
      }
      &:first-child{
        width:356px;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
        }
      }
      &:last-child{
        width:312px;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
        }
      }
      a{
        display:inline-block;
        padding:4px 0;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          font-size:vw(24);
          text-align:center;
          &:first-child{
            text-align:left;
          }
          &:last-child{
            text-align:right;
          }
          width:32%;
        }
        @media screen and (max-width: $breakpoint-mobile-px)  {
          font-size:vw(28);
        }
      }
    }
  }
  .sns{
    display:flex;
    justify-content:space-between;
    align-items:center;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      margin:vw(16) 0;
    }
    .btns{
      @media screen and (min-width: $breakpoint-pc-px)  {
        width:280px;
      }
      @media screen and (max-width: $breakpoint-tablet-px)  {
        flex:0 0 vw(550);
      }
      @media screen and (max-width: $breakpoint-mobile-px)  {
        flex:0 0 vw(500);
      }
      .access{
        width:100%;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          height:48px;
          font-size:vw(24);
        }
        @media screen and (max-width: $breakpoint-mobile-px)  {
          font-size:vw(32);
        }
      }
    }
    .insta,
    .fb{
      @media screen and (max-width: $breakpoint-tablet-px)  {
        flex:0 0 32px;
        height:32px;
        background-size:cover;
      }
    }
  }
}
/* fade-in when scrolled up */
.fadein{
  opacity:0;
  transform:translate(0, 25px);
  transition:all 1000ms;
  &.scrolled{
    opacity:1;
    transform:translate(0, 0);
  }
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
*{
  font-family:'Noto Serif',游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo, serif;
  font-feature-settings:'palt';
  color:$black;
  letter-spacing:.07em;
  line-height:1.5;
  -webkit-text-size-adjust:100%;
}
.only-sp{
  @media screen and (min-width: $breakpoint-pc-px)  {
    display:none;
  }
}
.only-pc{
  @media screen and (max-width: $breakpoint-tablet-px)  {
    display:none;
  }
}
