@import 'vars';
@import 'mixin';

//Local vars
$form_bgcolor:#f5ebcc;
$form_width:576px;

/* header */
header{
  width:100%;
  position:static;
  background:#fff;
}
/*
* contents
*/
#contents{
  h2{
    margin-top:0;
    ~ p{
      width:$form_width;
      margin:auto;
      font-size:1.6rem;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:100%;
      } 
      &:after{
        content:'';
        background-image:url('../img/common/devider.svg');
        background-size:contain;
        background-repeat:no-repeat;
        display:block;
        position:relative;
        width:320px;
        height:16px;
        margin:24px 0 0 -160px;
        left:50%;
        @media screen and (max-width: $breakpoint-mobile-px)  {
          width:74vw;
          margin:24px 0 0 -37vw;
        }
      }
    }
  }
  h3{
    margin:24px 0 2px;
    font-size:20px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    &:after{
      content:'必須';
      font-size:12px;
      border:1px solid #4aaeb4;
      color:#4aaeb4;
      display:inline-block;
      border-radius:2px;
      padding:1px 3px;
      margin:0 0 0 8px;
    }
  }
  > section{
    width:$base_width;
    margin:auto;
    padding:32px 64px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
      padding:32px 4vw;
    } 
  }
  form.sent{
    display:none;
  }
  .wpcf7{
    width:$form_width;
    margin:auto;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      width:100%;
    } 
    p{
      margin:0;
    }
    label{
      position:relative;
    }
    input[type=text],
    input[type=email],
    input[type=number],
    input[type=tel]{
      width:100%;
      border:1px solid $gray;
      border-radius:3px;
      height:36px;
      background:$form_bgcolor;
      font-size:1.6rem;
      padding:0 8px;
      box-sizing:border-box;
    }
    input[type=number][name=your-age]{
      text-align:center;
      width:6rem;
      border-radius:3px;
      height:36px;
      padding:0 0 0 12px;
    }
    input[aria-invalid=true],
    textarea[aria-invalid=true]{
      border:2px solid $red;
    }
    .btns .submit_btn{
      width:100%;
      line-height:48px;
      font-size:1.8rem;
      text-align:center;
      margin:16px 0 0;
    }
    span.your-age:before{
      vertical-align:middle;
      content:'歳';
      display:inline-block;
      font-size:1.6rem;
      position:absolute;
      top:-0.4rem;
      left:7rem;
    }
    span[role=alert]{
      display:block;
      color:$red;
      font-size:1.6rem;
    }
    textarea{
      width:100%;
      border:1px solid $gray;
      border-radius:3px;
      background:$form_bgcolor;
      font-size:1.6rem;
      box-sizing:border-box;
      padding:8px;
    }
  }
  .screen-reader-response[role=alert]{
    font-size:1.6rem;
    text-align:center;
    color:$red;
    margin:24px 0 0;
    padding:20px;
    border:1px solid $red;
  }
  .screen-reader-response ul,
  .wpcf7-response-output.wpcf7-validation-errors{
    display:none;  
  }
}
/*
footer
*/
footer{
  a.contact{
    display:none;
  }
}