@import 'vars';
@import 'mixin';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
  .link .gellary{
    border-bottom:3px solid $key_color;  
  }
}
#contents{
  text-align:center;
  > section{
    width:$base_width;
    margin:auto;
    padding:32px 64px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      display:block;
      width:100%;
      padding:32px 4vw;
    }
    .btns a{
      border:1px solid $black;
      margin:auto;
      font-size:1.4rem;
      padding:0 4vw;
    }
    img{
      width:100%;
      box-shadow:0 0px 8px 1px rgba(0,0,0,0.5);
    }
  }
  section.gellary{
    display:flex;
    justify-content:space-around;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      flex-direction:column;
    }
    > section{
      margin:0 auto 32px;
      width:48%;
      box-shadow:0 0px 8px 1px rgba(0,0,0,0.5);
      //margin:auto;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:100%;
      }
      position:relative;
      background-position:center;
      background-size:contain;        
      > a{
        width:100%;
        padding-top:61.8%;
        display:block;
        background-size:cover;
        background-repeat:no-repeat;
        > span{
          display:flex;
          justify-content: center;
          align-items: center;
          flex-direction:column;
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          span{
            color:#fff;
            font-size:2rem;
          }
          span.date{
            font-size:1.2rem;
          }
        }
      }
      > a:not(:nth-of-type(1)){
        display:none;
      }
    }
  }
  // section.fb_link{
  //   position:relative;
  //   text-align:left;
  //   a{
  //     display:inline-block;
  //     position:absolute;
  //     // left:0;
  //     // top:0;
  //     // bottom:0;
  //     // right:0;
  //     width:100%;
  //     height:100%;
  //     background-color: $key_color;
  //     clip-path:polygon(0% 0%, 32% 0%, 24% 100%, 0% 100%);
  //   }
  //   img{
  //     display:block;
  //   }
  // }

}
.baguetteBox-button#previous-button {
  left:0%;
  opacity:0.4;
}
.baguetteBox-button#next-button {
  right:0%;
  opacity:0.4;
}
.baguetteBox-button#close-button{
  opacity:0.4;  
}
