@import 'vars';
@import 'mixin';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
}
/*
* contents
*/
#contents{
  > section{
    width:$base_width;
    margin:auto;
    padding:32px 64px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      display:block;
      width:100%;
      padding:32px 4vw;
    }
  }
  .post_list{
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    @media screen and (max-width: $breakpoint-mobile-px)  {
      display:block;
    }
    li{
      width:200px;
      list-style:none;
      border:1px solid $gray;
      position:relative;
      margin-bottom:32px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:44vw;
      }
      @media screen and (max-width: $breakpoint-mobile-px)  {
        width:100%;
      }
      &.new:before{
        width:64px;
        height:40px;
        top:8px;
        left:-12px;
        z-index:10;
      }
    }
  }
  div.info{
    padding:0 4px;
    p{
      margin:8px 0;
    }
    .release_date{
      text-align:right;
      border-bottom:1px solid $gray;
    }
  }
  .post_list{
    a{
      display:inline-block;
      font-size:1.4rem;
      line-height:1em;
      padding:4px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        width:100%;
      }
    }
    li{
      div.img{
        width:190px;
        height:190px;
        overflow:hidden;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:100%;
          height:100%;
        }
      }
      img{
        width:100%;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          height:100%;
        }
      }
    }
  }
  .pager{
    text-align:center;
    font-size:1.2rem;
    a{
      border:1px solid $gray;
      padding:4px 8px;
      font-weight:bold;
      width:100%;
    }
    span{
      border:1px solid $key_color;
      background-color:$key_color;
      color:#fff;
      padding:4px 8px;
    }
  }
}