@import 'vars';
@import 'mixin';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
  .link .qa{
    border-bottom:3px solid $key_color;  
  }
}
/*
* contents
*/
#contents > section{
  width:$base_width;
  margin:auto;
  padding:32px 64px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:100%;
    padding:32px 4vw;
  }
  dl{
    margin:0 0 32px 32px;
    dt{
      margin:0 0 8px;
      font-size:2rem;
      position:relative;
      &:before{
        content:'';
        background-image:url('../img/qa/q.svg');
        display:inline-block;
        position:absolute;
        width:23px;
        height:24px;
        top:2px;
        left:-28px;
      }
    }
    dd{
      font-size:1.6rem;
    }
  }
}
