@import 'vars';
@import 'mixin';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
}
/*
* contents
*/
#contents > section{
  width:$base_width;
  margin:auto;
  padding:32px 64px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:100%;
    padding:32px 4vw;
  }
}
#contents p{
  font-size:1.4rem;
  line-height:1em;
}
#contents img{
  display:block;
  margin:auto;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:100%;
    height:auto;
  }
}
a.read_more{
  padding:12px;
}