@import 'vars';
@import 'mixin';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
}

#wrapper{
  display:flex;
  justify-content:space-between;
  width:$base_width;
  margin:auto;
  padding:32px 64px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    display:block;
    width:100%;
    padding:32px 4vw;
  }
}
/*
* contents
*/
#contents{
  min-width:auto;
  max-width:800px;
}
.content_body{
  p{
    font-size:1.4rem;
    line-height:1em;
    img{
      width:100%;
      height:auto;
    }
  }
}
#contents .pager{
  width:100%;
  display:flex;
  justify-content:space-between;
}
#contents .pager span{
  display:inline-block;
  width:80px;
}
#contents .pager span a{
  display:inline-block;
  font-size:1.2rem;
  padding:4px;
  border:1px solid $gray;
  width:100%;
  text-align:center;
}
#contents .pager span:nth-of-type(1) a:before{
  content:'＜ ';
  font-size:1.2rem;
}
#contents .pager span:nth-of-type(3) a:after{
  content:' ＞';
  font-size:1.2rem;
}