@import 'vars';
@import 'mixin';
/* header */
header{
  width:100%;
  position:static;
  background:#fff;
  .link .teacher{
    border-bottom:3px solid $key_color;
  }
}
#logos{
  position:absolute;
  text-align:right;
  bottom:0;
  height:64px;
  width:480px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    position:static;
    width:100%;
  }
  img{
    height:100%;
    margin:0 32px 0 0;
    &:last-child{
      margin:0;
    }
  }
}
/*
* contents
*/

#contents .award{
  width:$base_width;
  margin:auto;
  padding:32px 64px;
  font-size:1.6rem;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:100%;
    padding:32px 4vw;
  }
  &__body{
    margin:32px auto auto;
    @media screen and (min-width: $breakpoint-pc-px)  {
      display:flex;
      column-gap: 2%;
      justify-content: center;
    }
    @media screen and (max-width: $breakpoint-mobile-px)  {
      margin:32px 0;
    }
  }
  &__lists{
    flex:0 0 auto;
    > ul{
      padding:0 0 0 1em;
      > li{
        list-style-type: '■';
        h3{
          margin:1em 0 0;
        }
        > ul{
          list-style-type: '・';
          > li{
              margin:0.5em 0;
          }
        }
    
      }
    }
  
  }
}
#contents section.teacher{
  width:$base_width;
  margin:auto;
  padding:32px 64px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    width:100%;
    padding:32px 4vw;
  }
  > section{
    display:flex;
    position:relative;
    margin:32px 0 80px;
    @media screen and (max-width: $breakpoint-mobile-px)  {
      display:block;
      margin:32px 0;
    }
    &:last-child{
      margin:32px 0 0;
    }
    &:after{
      content:'';
      background-image:url('../img/common/devider.svg');
      background-size:contain;
      background-repeat:no-repeat;
      display:block;
      position:absolute;
      width:320px;
      height:16px;
      margin:0 0 0 -160px;
      left:50%;
      bottom:-48px;
      @media screen and (max-width: $breakpoint-mobile-px)  {
        position:static;
        width:74vw;
        margin:32px auto 0;
      }
    }
    &:last-child:after{
      content:none;
    }
    > div:first-child{
      width:256px;
      flex-shrink:0;
      @media screen and (max-width: $breakpoint-mobile-px)  {
        width:100%;
      }
      margin:0 32px 0 0;
      margin:0 32px 0 0;
      font-size:1.6rem;
      h3{
        width:100%;
        white-space:nowrap;
        margin:0.5em 0 0;
        @media screen and (max-width: $breakpoint-mobile-px)  {
          margin:1em 0 0;
        }
        span{
          font-size:1.4rem;
        }
        & + p{
          margin:0;
        }
      }
      > span{
        width:256px;
        display:inline-block;
        position:relative;
        @media screen and (max-width: $breakpoint-mobile-px)  {
          width:100%;
        }
        img{
          width:100%;
        }
        &:before,
        &:after{
          content:'';
          background-image:url('../img/common/photo_ornaments.svg');
          background-size:contain;
          background-repeat:no-repeat;
          display:inline-block;
          position:absolute;
          width:80px;
          height:80px;
        }
        &:before{
          top:-8px;
          right:-8px;
        }
        &:after{
          transform: rotate(180deg);
          bottom:-8px;
          left:-8px;
        }
      }
    }
    > div:last-child{
      font-size:1.4rem;
      flex-shrink:1;
      h3{
        margin:1.5rem 0;
      }
      p{
        margin:0;
        @media screen and (max-width: $breakpoint-mobile-px)  {
          margin:0.5em 0;
        }
      }
    }
  }
}
