@import 'vars';
@import 'mixin';
@import 'function';
/*
* common
*/
/* frame */
section.frame{
  @media screen and (min-width: $breakpoint-pc-px)  {
    position:relative;
    box-shadow:0 0px 16px -2px rgba(0,0,0,1);
    > div{
      height:100%;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        height:auto;
      }
      border:2px solid #565252;
      padding:2px;
      position:relative;
      background-color:#fff;
      &:before,
      &:after,
      > div:before,
      > div:after{
        content:'';
        background-image:url('../img/common/frame_ornament.svg');
        background-size:contain;
        background-repeat:no-repeat;  
        width:56px;
        height:56px;
        display:block;
        position:absolute;
        z-index:5;
      }
      &:before{
        top:-12px;
        left:-12px;
      }
      &:after{
        bottom:-12px;
        left:-12px;
        transform: rotate(270deg);
      }
      > div{
        height:100%;
        width:100%;
        border:1px solid #565252;
        position:relative;
        &:before{
          top:-14px;
          right:-14px;
          transform: rotate(90deg);
        }
        &:after{
          bottom:-14px;
          right:-14px;
          transform: rotate(180deg);
        }
      }
    }
  }
}
/* slide */
#slider{
  position:relative;
  width:100%;
  min-width:$base_width;
  height:760px;
  @media screen and (max-width: $breakpoint-tablet-px)  {
    min-width:$base_width_narrow;
    height:vw(560);
  }
  z-index:0;
  margin:auto;
}
/*
* contents
*/
#contents{
  /* about */
  #about{
    height:544px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      height:auto;
    }
    background-image:url('../img/top/about_bg.jpg');
    width:100%;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      .wrapper{
        padding:0;
      }
    }
    section.frame{
      height:552px;
      position:relative;
      top:-64px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        height:auto;
        top:0;
      }
      h2{
        margin:0 0 16px;
      }
      > div{
        @media screen and (max-width: $breakpoint-tablet-px)  {
          padding:32px 4vw;
        }
        > div{
          padding:32px;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            padding:0;
          }
        }
      }
      > div > div > .studioimage{
        background:url('../img/top/about_retina.jpg');
        background-repeat:no-repeat;
        @media screen and (min-width: $breakpoint-pc-px)  {
          width:678px;
          height:315px;
          background-size:contain;
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:auto;
          height:vw(320);
          background-size:cover;
          background-position:center;
        }
    }
      &:nth-of-type(1){
        width:352px;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:auto;
        }
        > div{
          @media screen and (max-width: $breakpoint-tablet-px)  {
//            background:url('../img/top/about_retina.jpg');
            background-repeat:no-repeat;
            background-size:cover;            
          }        
        }
        .read_more{
          width:100%;
        }
      }
      &:nth-of-type(2){
        width:752px;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          width:auto;
        }
        > div{
          @media screen and (max-width: $breakpoint-tablet-px)  {
            position:relative;
            z-index:0;
            overflow:hidden;
            padding:32px 4vw;
            &:before{
              content:'';
              background:url('../img/top/about_retina.jpg');
              background-repeat:no-repeat;
              background-size:cover;
              background-position:center;
              filter:blur(5px);
              position:absolute;
              top:-5px;
              left:-5px;
              right:-5px;
              bottom:-5px;
              z-index:-1;
            }
          }
          > div{
            @media screen and (max-width: $breakpoint-tablet-px)  {
              background:rgba(255,255,255,0.85);
              width:100%;
              padding:16px 4vw;
              margin:auto;
            }
          }
        }
        .read_more_bg{
          @media screen and (min-width: $breakpoint-pc-px)  {
            position:relative;
            top:-28px;
            width:256px;
            margin:auto;
            background-color:#fff;
          }
          @media screen and (max-width: $breakpoint-tablet-px)  {
            margin:16px 0 0;
          }
          display:block;
          .read_more{
            width:100%;
            margin:auto;
            background-color:#fff;
            padding:16px;
            display:block;
          }
        }
      }
    }
    ul#news_body{
      list-style:none;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
      }
      li{
        list-style:none;
        margin:0 0 8px;
        position:relative;
        border:1px solid $gray;
        background:#fff;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          margin:0 0 vw(24);
          width:44vw;
          box-shadow:(0 0 vw(5) vw(2) rgba(0,0,0,0.1));
        }
        a{
          display:flex;
          justify-content:space-between;
          position:relative;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            flex-direction:column-reverse;
          }
          div:first-child{
            display:block;
            padding:8px 16px;
            flex-grow:1;
            flex-shrink:1;
          }
          div:last-child{
            width:80px;
            height:80px;
            flex-shrink:0;
            flex-grow:0;
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center 0px;
            @media screen and (max-width: $breakpoint-tablet-px)  {
              width:100%;
              height:44vw;
              overflow:hidden;
              display:flex;
              align-items:center;
            }
          }
          .title{
            font-size:1.3rem;
            @media screen and (max-width: $breakpoint-tablet-px)  {
            }
            margin:8px 0 0;
            line-height:1.5em;
          }
        }
        .release_date{
          text-align:right;
          border-bottom:1px solid $gray;
          font-size:1.2rem;
          margin:0;
          padding:0 0 4px;
          line-height:1em;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            padding:8px 0;
          }
        }
        &.new .release_date{
          color:$red;
        }
      }
    }
    .read_more{
      padding:16px 0;
    }
  }

  /* teacher */
  #teacher{
    height:544px;
    background-image:url('../img/top/teacher_bg.jpg');
    width:100%;
    position:relative;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      height:auto;
      padding:32px 4vw;
      position:relative;
      z-index:0;
      overflow:hidden;
      &:before{
        content:'';
        background-image:url('../img/top/teacher_image.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        filter:blur(5px);
        position:absolute;
        top:-5px;
        left:-5px;
        right:-5px;
        bottom:-5px;
        z-index:-1;
      }
    }
    .wrapper{
      > div:nth-of-type(1){
        width:912px;
        background-image:url('../img/top/teacher_image.jpg');
        background-size:contain;
        background-repeat:no-repeat;
        clip-path: polygon(16.6% 0, 100% 0, 84.4% 100%, 0 100%);
        overflow:visible;
        position:absolute;
        @media screen and (min-width: $breakpoint-pc-px)  {
          height:100%;
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          position:relative;
          width:100%;
          clip-path:none;
          background-size:cover;
          background-position:center;
        }
      }
      > div:nth-of-type(2){
        background-color:#fff;
        position:absolute;
        top:50%;
        right:80px;
        width:320px;
        height:384px;
        border:3px solid #565252;
        margin:-194px 0 0;
        font-size:1.6rem;
        box-shadow:0 0px 16px -2px rgba(0,0,0,1);
        @media screen and (max-width: $breakpoint-tablet-px)  {
          position:static;
          width:auto;
          height:auto;
          margin:auto;
          border:none;
          box-shadow:none;
          background-color:rgba(255,255,255,0.85);
        }
        > div:nth-of-type(1){
          background-image:url('../img/common/frame_bold.svg');
          background-repeat:no-repeat;
          display:block;
          position:relative;
          width:352px;
          height:416px;
          top:-20px;
          left:-20px;
          filter:drop-shadow(0 0px 16px -2px rgba(0,0,0,1));
          @media screen and (max-width: $breakpoint-tablet-px)  {
            display:none;
          }
        }
        div:nth-of-type(2){
          position:absolute;
          top:0;
          left:0;
          padding:16px 32px;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            position:static;
            padding:16px 4vw;
          }
        }
        div h2{
          margin:0 0 24px;
        }
        .teacherimage{
          @media screen and (max-width: $breakpoint-tablet-px)  {
            background-image:url('../img/top/teacher_image.jpg');
            height:vw(320);
            background-size:cover;
            background-position:center;
          }          
        }
      }
    }
    .read_more{
      width:100%;
      margin:16px 0 0;
    }
  }
  #access{
    height:644px;
    background-image:url('../img/top/access_bg.jpg');
    width:100%;
    position:relative;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center bottom;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      height:auto;
      padding:32px 4vw;
      position:relative;
      z-index:0;
      overflow:hidden;
      &:before{
        content:'';
        // background-image:url('../img/top/access_image.png');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        filter:blur(5px);
        position:absolute;
        top:-5px;
        left:-5px;
        right:-5px;
        bottom:-5px;
        z-index:-1;
      }
    }
    .wrapper{
      > div:nth-of-type(1){
        background-color:#fff;
        position:absolute;
        top:50%;
        left:144px;
        width:320px;
        height:384px;
        border:3px solid #565252;
        margin:-194px 0 0;
        font-size:1.6rem;
        box-shadow:0 0px 16px -2px rgba(0,0,0,1);
        @media screen and (max-width: $breakpoint-tablet-px)  {
          position:static;
          width:auto;
          height:auto;
          margin:auto;
          border:none;
          box-shadow:none;
          background-color:rgba(255,255,255,0.85);
        }
        > div:nth-of-type(1){
          background-image:url('../img/common/frame_bold.svg');
          background-repeat:no-repeat;
          display:block;
          position:relative;
          width:352px;
          height:416px;
          top:-20px;
          left  :-20px;
          filter:drop-shadow(0 0px 16px -2px rgba(0,0,0,1));
          @media screen and (max-width: $breakpoint-tablet-px)  {
            display:none;
          }
        }
        div:nth-of-type(2){
          position:absolute;
          top:0;
          left:0;
          padding:16px 32px;
          @media screen and (max-width: $breakpoint-tablet-px)  {
            position:static;
            padding:16px 4vw;
          }
        }
        div h2{
          margin:0 0 24px;
        }
        .accessimage{
          @media screen and (max-width: $breakpoint-tablet-px)  {
            background-image:url('../img/top/access_image_sp.png');
            height:vw(633);
            background-size:contain;
            background-position:center;
            background-repeat: no-repeat;
          }          
        }
      }
      > div:nth-of-type(2){
        position:absolute;
        width:564px;
        background-image:url('../img/top/access_image.png');
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
        overflow:visible;
        position:absolute;
        top:0;
        right:128px;
        @media screen and (min-width: $breakpoint-pc-px)  {
          height:100%;
        }
        @media screen and (max-width: $breakpoint-tablet-px)  {
          position:relative;
          width:100%;
          clip-path:none;
          background-size:cover;
          background-position:center;
        }
      }
    }
    .read_more{
      width:100%;
      margin:16px 0 0;
    }    
  }
  /* others */
  #others{
    height:480px;
    @media screen and (max-width: $breakpoint-tablet-px)  {
      height:auto;
    }
    background-image:url('../img/top/other_bg.jpg');
    width:100%;
    position:relative;
    .wrapper{
      padding:64px;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        padding:0;
      }
    }
    h2{
      border-top:1px solid $gray;
      border-bottom:1px solid $gray;
      text-align:center;
      margin:0 0 16px;
    }
    .read_more_bg{
      position:relative;
      top:-28px;
      width:160px;
      margin:auto;
      background-color:#fff;
      display:block;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        position:static;
        width:auto;
      }
      .read_more{
        width:100%;
        margin:auto;
        background-color:#fff;
        padding:16px;
        display:block;
      }
    }
    section.frame{
      width:352px;
      height:352px;
//      margin:0 48px 0 0;
      @media screen and (max-width: $breakpoint-tablet-px)  {
        padding:32px 4vw;
        width:100%;
        height:auto;
        &:nth-of-type(1){
          position:relative;
          z-index:0;
          overflow:hidden;
          &:before{
            content:'';
            background-image:url('../img/top/schedule_retina.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center;
            filter:blur(5px);
            position:absolute;
            top:-5px;
            left:-5px;
            right:-5px;
            bottom:-5px;
            z-index:-1;
          }
        }
        &:nth-of-type(2){
          position:relative;
          z-index:0;
          overflow:hidden;
          &:before{
            content:'';
            background-image:url('../img/top/event_retina.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center;
            filter:blur(5px);
            position:absolute;
            top:-5px;
            left:-5px;
            right:-5px;
            bottom:-5px;
            z-index:-1;
          }
        }
        &:nth-of-type(3){
          position:relative;
          z-index:0;
          overflow:hidden;
          &:before{
            content:'';
            background-image:url('../img/top/gellary_retina.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center;
            filter:blur(5px);
            position:absolute;
            top:-5px;
            left:-5px;
            right:-5px;
            bottom:-5px;
            z-index:-1;
          }
        }
      }
      &:nth-of-type(3){
        margin:0;
      }
      > div > div{
        padding:24px 32px;
        @media screen and (max-width: $breakpoint-tablet-px)  {
          background-color:rgba(255,255,255,0.85);
          padding:16px 4vw;
          img{
            width:100%;
            margin:0 0 16px;
          }
        }
      }
    }
    &:last-child{
      margin-bottom:0 !important;
    }
  }
}
